.header{
    background-color: var(--gray-700);
    padding-top: 4.5rem;
    padding-bottom: 5rem;
}

.header div{
    display: flex;
    justify-content: center;
}

.header div img{
    margin-right: 0.75rem;
}

.header div h1{
    color: var(--blue);
    font-weight: 900;
    font-size: 2.5rem;
}

.header div h1 span{
    color: var(--purpleDark);
}