.list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.875rem;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

    padding: 1rem;
    margin-top: 1.5rem;
}

.list p{
    font-weight: 400;
    font-size: 0.875rem;

    color: var(--gray-100);
    width: 100%;
    max-width: 39.5rem;

    margin: 0 0.75rem;
}

.list > div svg{
    color: var(--purpleDark);
}

.list .delete{
    width: 24px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.1875rem;
}

.list .delete:hover{
    border-radius: 4px;
    background-color: var(--gray-400);
}

.list .delete svg{
    color: var(--gray-300);
}

.list .delete:hover svg{
    color: red;
}


.list .complete {
    color: var(--gray-300);
    text-decoration: line-through;
}